<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net452" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net452" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net452" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.11.4" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.1.11" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.1.11" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.23" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Npgsql" version="5.0.4" targetFramework="net48" />
  <package id="SSH.NET" version="2020.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.6.0" targetFramework="net48" />
  <package id="System.Text.Json" version="4.6.0" targetFramework="net48" />
  <package id="System.Threading.Channels" version="4.7.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="ZCRMSDK" version="4.0.0" targetFramework="net48" />
</packages>